<%layout("/layouts/boilerplate")%>


        <div class="card col-5 offset-4 other-cards">
            <h3><b><%= job.title%></b></h3><br>
                <p class="card-text">
                    <b>Description: </b><%= job.description%><br>
                    <b>Position: </b><%= job.position%><br>
                    <b>Company: </b><%= job.company%><br>
                    <b>Location: </b><%= job.location%><br>
                    <b>Type: </b><%= job.type%><br>
                    <b>Skills required: </b><%= job.skills%><br>
                </p>
        </div>

        <%if(currUser && currUser._id.equals(job.postedBy._id)||currUser.role=="admin"){%>
<div class="row col-6 offset-4 mt-3">
    
    <div class="btns" style="display: flex; ">
    <a class="btn btn-dark col-1 offset-3 edit-btn" href="/job/<%=job._id%>/edit" style="display:flex;justify-content: center; margin-left: 0; width: auto;"> Edit</a>
    <form method="POST" action="/job/<%=job._id%>?_method=DELETE" >
        <button class="btn btn-dark"style="margin-left: 2rem; height:100%">Delete</button>
    </form>
    </div>
 </div>
 
 <%}%>