<% layout('/layouts/boilerplate') %>
<div class="section-card fade-up"  style="height: 10rem; margin-top: 3rem; background-color: rgb(212, 230, 249);">
    <p style="font-size:3rem; display:flex;  justify-content: center;">Welcome <%=user.name%></p>
    
  </div>
<div class="profile-container fade-up">
  <div style="display:flex; justify-content:space-between">
      <h1 class="profile-title">My Profile</h1>
  <form method="GET" action="<%=user.role%>/<%=user._id%>/edit" >
        <button class="btn btn-primary">
          <i class="fa fa-pen"></i> Edit Profile
        </button>
      </form>
  </div>
  
  <div class="profile-card">
    <div class="profile-header">
      <div class="profile-info">
        <h2 class="name"><%= user.name %></h2>
        <p><i class="fa fa-envelope"></i> <%= user.email %></p>
       <% if(currUser.role=="student"){%>
          <p><i class="fa fa-laptop-code"></i>  <%= user.course %> &nbsp;•&nbsp; <%= user.year %></p>
        <%}%>
        <%if(currUser.role="alumni"){%>
          <p><i class="fa fa-laptop-code"></i>  <%= user.company %> &nbsp;•&nbsp; <%= user.position %></p>
        <%}%>
        <p><i class="fa fa-map-marker-alt"></i> <%= user.location %></p>
      </div>
    </div>
  </div>

  <div class="section-card fade-up">
    <h3><i class="fa fa-user"></i> About Me</h3>
    <p><%= user.bio %></p>
  </div>

  <div class="section-card fade-up">
    <h3><i class="fa fa-tools"></i> Skills</h3>
    <p><%= user.skills.join(" • ") %></p>
  </div>
</div>
