<%layout("/layouts/boilerplate")%>


        <div class="card col-4 offset-4 " style="margin-top: 10rem; margin-bottom: 10rem;">
                <p class="card-text p-3">
                    <b><%= event.title%></b><br>
                    <b><i class="fa-solid fa-building"></i></b><%= event.description%><br>
                    <b><i class="fa-regular fa-calendar"></i></b><%= event.date.toLocaleDateString()%><br>
                    <b><i class="fa-solid fa-location-dot"></i></b><%= event.place%><br>
                    <b><i class="fa-solid fa-circle-user"></i></b><%= event.host ? event.host.name : "Host Not Available" %>
                </p>
        </div>
        <%if(currUser && event.host && currUser._id.equals(event.host._id)){%>
<div class="row col-6 offset-4 mt-3">
    
    <div class="btns" style="display: flex; ">
    <a class="btn btn-dark col-1 offset-3 edit-btn" href="/event/<%=event._id%>/edit" style="display:flex;justify-content: center; margin-left: 0;"> Edit</a>
    <form method="POST" action="/event/<%=event._id%>?_method=DELETE" >
        <button class="btn btn-dark"style="margin-left: 2rem; height:100%">Delete</button>
    </form>
    </div>
 </div>
 <%}%>